/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header {
  background: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 50px;
  height: 50px;
}

/* Navigation */
nav {
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Hero Section */
.hero {
  background: #f4f4f4;
  padding: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  flex: 1;
  min-width: 300px;
  margin-bottom: 1rem;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}


.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn {
  background: #333;
  color: #fff;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.hero-img {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.hero-img img {
  max-width: 100%;
  height: auto;
}

/* Footer */
footer {
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 0.9rem;
}

.social-links a {
  color: #ccc;
  margin: 0 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    display: none;
    background-color: #444;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
  }
  .hero-image{
    height: 400px;
    width: 400px;
    border-radius: 5px;
  }

  .nav-links.show {
    display: flex;
  }

  .logo{
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }
  .logo-2{
    display: block;
    width: 50px;
    height: 50px;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
